<div class="top-box">
	<div class="top-box-content">
		<div class="top-logo"></div>
		<div>
			<%= link_to "新規登録", new_user_registration_path, class: "btn btn-info btn-block top-button" %>
			<%= link_to "ログイン", new_user_session_path, class: "btn btn-default btn-block top-button vixiv-black" %>
		</div>
		<div>
			<%= link_to "お問い合わせ", new_contact_path, class: "btn btn-link top-link" %>
		</div>
	</div>
</div>