/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.vixiv-black {
	color: #757c80;
}
.vixiv-background {
	background-color: #e4e7ee;
}
.top-box {
	width: 400px;
	height: 450px;
	margin: 0 auto;
}
.top-box-content {
	width: 300px;
	margin: 0 auto;
}
.top-button {
	height: 40px;
	margin: 0 auto;
	margin-bottom: 8px;
	line-height: 25px;
	font-weight: bold;
	font-size: 17px;
}
.top-link {
	height: 40px;
	margin-left: 190px;
	line-height: 40px;
	text-decoration: underline;
}
.devise-title {
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.devise-box {
	text-align: center;
}
.input-mysize {
	width: 300px;
	height: 40px;
	font-size: 17px;
}
.remember-mysize {
	width: 300px;
	height: 40px;
	font-size: 17px;
	padding-top: 10px;
}
.contact-mysize {
	width: 600px;
	height: 36px;
	font-size: 17px;
	border-radius: 2px;
	border: solid 1px #757c80;
}
.contact-body-mysize {
	width: 600px;
	font-size: 17px;
	border-radius: 2px;
	border: solid 1px #757c80;
}
.devise-button {
	margin: 8px 0;
	font-weight: bold;
	font-size: 17px;
}
.contact-button {
	margin-top: 10px;
	font-weight: bold;
	font-size: 17px;
}
.devise-link {
	width: 300px;
	height: 40px;
	text-align: right;
	text-decoration: underline;
	font-size: 14px;
}
.contact-box {
	width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
}
.contact-box-content {
	width: 600px;
	margin: 0 auto;
}
.contact-title {
	height: 30px;
	margin-left: 30px;
	font-size: 20px;
	font-weight: bold;
}
.contact-subheading {
	width: 600px;
	margin-top: 10px;
	font-size: 15px;
}
.home-box {
	width: 1000px;
	margin: 0 auto;
}